# dbt
dbt-core==1.8.0
dbt-snowflake==1.8.0

# Environment variables
python-dotenv==1.0.0

# Data ingestion
yfinance==0.2.51
finnhub-python==2.4.20
requests==2.32.3

# Ingestion — AWS
boto3==1.34.0

# Snowflake
snowflake-connector-python==3.6.0

# Logging + utils
tenacity==8.2.3

# Testing
pytest==8.0.0

# Dependency locking
pip-tools==7.4.0